h1 {
    color: black;
	font-family: Helvetica;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
h2 {
    color: black;
	font-family: Helvetica;
	font-size: 25px;
	font-weight: bold;
}
hr{color: black;}
th {
    color: black;
}
table, th, td {
    border-collapse: collapse;

}
#tracks {color: black;
	font-family: Helvetica;
	font-size: 18px;
	text-align: center;}
	
thead{
	background-color: lightgrey;
	font-style: bold;
	}
tbody{
	background-color: lightgrey;
	font-style: italic;
	
}
a{
	font-family: Helvetica;
	text-decoration: none;
	font-weight: none; 
}
a:link{
	color: black;
}
a:visited{
	color: red;
}
a:hover{
	text-decoration: underline;
	color: black;
	background-color: hotpink;
}
a:active{
	color: cyan
}

