h1 {
    color: navy;
	font-family: Helvetica;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
h2 {
    color: navy;
	font-family: Helvetica;
	font-size: 25px;
	font-weight: bold;
}
th {
    color: navy;
}
table, th, td {
    border-collapse: collapse;

}
#image {
    background-image: url(theknifedeepcuts.png); 
    background-repeat: no-repeat;
	height: 300px;
	background-position: center;
	
}
thead{
	background-color: lightgrey;
	font-style: bold;
	
}
tbody{
	background-color: lightgrey;
	font-style: italic;
	
}
a{
	font-family: Helvetica;
	text-decoration: none;
	font-weight: none; 
}
a:link{
	color: black;
}
a:visited{
	color: red;
}
a:hover{
	text-decoration: underline;
	color: black;
	background-color: hotpink;
}
a:active{
	color: cyan
}

