#header {
	font-family: Helvetica;
	font-size: 25px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	
}

#sitemap{
	font-family: Helvetica;
	font-size: 20px;
	color: #000000;
	text-align: left;
}
a{
	font-family: Helvetica;
	text-decoration: underline;
}
a:link{
	color: black;
}
a:visited{
	color: red;
}
a:hover{
	font-weight: bold;
	color: green;
}
a:active{
	color: cyan;
	text-decoration: none;
}


#footer{
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	
}
#homepageBody{
	background-color: aqua ;
}
